<!DOCTYPE html>
<html>

<head>
    <title>The Tech Blog</title>
</head>

<body>
    {{> navbar}}


    <!-- Include Handlebars library -->
    <script src="handlebars.js"></script>

    <!-- Your Handlebars template goes here -->
    <script id="card-template" type="text/x-handlebars-template"></script>
</body>

</html>