<!DOCTYPE html>
<html>

<head>
    <title>Home - The Tech Blog</title>
</head>

<body>
    {{> navbar}}


    <h1>Welcome to The Tech Blog</h1>

    <!-- Include Handlebars library -->
    <script src="handlebars.js"></script>

    <!-- Your Handlebars template goes here -->
    <script id="homepage-template" type="text/x-handlebars-template"></script>
</body>

</html>